{% extends 'base.html' %}
{% block content %}
    <title>{{blog.title}}</title>
    <br><br>
    <center>
        <div class="col-md-5">
            <div class="card mb-5 shadow-sm">
                {% csrf_token %} 
                <img src="{{blog.image.url}}" width="100%" height="450"/>
                <div class="card-body">
                    <h3><a href="{% url 'detail' blog.id%}">{{blog.title}}</a></h3>    
                    <p class="card-text">
                        {{blog.text}}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btcn-group">
                            <button type="button" class="btn btn-light" disabled>작성일 : {{blog.date}}</button>
                        </div>
                        <div class="btcn-group">
                            <button type="button" class="btn btn-light" disabled>작성자 : {{blog.writer}}</button>
                        </div>
                    </div>
                    <br>
                    {% if user.is_authenticated %}
                        {% if blog.writer == user.username %}
                            <a href="{% url 'edit' blog.id %}"><button type="button" class="btn btn-sm btn-outline-secondary active">수정</button></a>
                            <a href="{% url 'delete' blog.id %}"><button type="button" class="btn btn-sm btn-outline-secondary active">삭제</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </center>
{% endblock %}